<div class="flex">
  <div class="grid">
    <span><%= recipe.time %></span>
    <span>Minutes</span>
  </div>
  <span class="border-l mx-2 border-gray-200"></span>
  <div class="grid">
    <span><%= recipe.servings %></span>
    <span>Servings</span>
  </div>
  <span class="border-l mx-2 border-gray-200"></span>
  <div class="grid">
    <span><%= recipe.ingredients.count %></span>
    <span>Ingredients</span>
  </div>
  <span class="border-l mx-2 border-gray-200"></span>
  <div class="grid">
    <span><%= recipe.instructions.count %></span>
    <span>Steps</span>
  </div>
</div>