<div class="inline-flex">
  <div class="flex">
    <span><%= recipe.ingredients.count %> Ingredients</span>
  </div>

  <span class="border-l mx-2 border-gray-200"></span>
  <div class="flex">
    <span><%= recipe.instructions.count %> Steps</span>
  </div>

  <% unless recipe.time.nil? %>
    <span class="border-l mx-2 border-gray-200"></span>
    <div class="flex">
      <span><%= recipe.time %></span>
    </div>
  <% end %>

  <% unless recipe.servings.nil? %>
    <span class="border-l mx-2 border-gray-200"></span>
    <div class="flex">
      <span><%= recipe.servings || 0 %> Servings</span>
    </div>
  <% end %>
</div>