<div id="<%= dom_id ingredient %>" class="w-full py-3">
  <div class="items-center p-3 mx-2 md:grid grid-cols-3 shadow border-gray-700/50 rounded-lg ">
    <div class="col-span-2">
      <p class="font-bold text-lg">
        <%= ingredient.body %>
      </p>
    </div>
  </div>
</div>