<%= turbo_frame_tag cookbook do %>
  <div class="w-full grid p-2 my-4 border-dotted border shadow rounded-md rounded-l-none">
    <div class="flex justify-between truncate whitespace-normal">
      <div class="font-bold tracking-wide font-bold text-lg md:text-3xl">
        <%= cookbook.title %>
      </div>
    </div>
    <% unless local_assigns[:mini] %>
      <% if cookbook.image.attached? %>
        <%= image_tag cookbook.image, class: 'py-2' %>
      <% end %>
      <div>
        <%= cookbook.description %>
      </div>
    <% end %>
  </div>
<% end %>