<div>
  <% if local_assigns[:select] == 'cookbook' %>
    <div class="font-semibold text-xl">
      Save <%= recipe.title %> to Cookbook
    </div>
    <% cookbooks.each do |cookbook| %>
      <%= render 'cookbooks/cookbook_recipe_join', cookbook: cookbook, recipe: recipe, select: 'cookbook' %>
    <% end %>
  <% elsif local_assigns[:select] == 'recipe' %>
    <div class="font-semibold text-xl">
      Add recipe to <%= cookbook.title %>
    </div>
    <% recipes.each do |recipe| %>
      <%= render 'cookbooks/cookbook_recipe_join', cookbook: cookbook, recipe: recipe, select: 'recipe' %>
    <% end %>
  <% end %>
</div>
