<div>
  <div class="font-semibold text-xl">
    Add Recipe to <%= cookbook.title %>
  </div>
    <% recipes.each do |recipe| %>
        <%= render 'cookbooks/cookbook_recipe_join', cookbook: cookbook, recipe: recipe, pick_cookbook: false %>
  <% end %>
</div>